<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
 <listeners>
	<listener class-name="Listeners.ListenersTest"></listener>
 </listeners>
  <test name="TestLogin">
    <classes>
      <class name="tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestTwo">
    <classes>
      <class name="tests.TwoTest"/>
    </classes>
  </test>
  <test name="TestThree">
    <classes>
      <class name="tests.ThreeTest"/>
    </classes>
  </test>
  <test name="TestFour">
    <classes>
      <class name="tests.FourTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
